# History files
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
#docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
###########################
.Rhistory
R/.Rhistory
data/.Rhistory
!data/table_ISPRS1.pdf
!results/ISPRS1/b_all.txt
!results/ISPRS1/dummy.txt
!data/table_ISPRS7.pdf
!results/ISPRS7/b_all.txt
!data/tt_prior_sek.RData
!results/ISPRS7/dummy.txt
data/ISPRS1
data/ISPRS1/images/
data/ISPRS7
data/ISPRS7/images/
